<!-- header  -->
<%- include("../partials/header.ejs") %>

    <!-- menu-section  -->
    <%- include("../partials/menu.ejs") %>
<div class="container">
    
<h2>About Page </h2>
</div>

        <!-- footer  -->
        <%- include("../partials/footer.ejs") %>