<!-- header  -->
<%- include("../partials/header.ejs") %>

    <!-- menu-section  -->
    <%- include("../partials/menu.ejs") %>

<div class="containert">
    <h2>Contact page </h2>
</div>
        <!-- footer  -->
        <%- include("../partials/footer.ejs") %>